.admin-controller-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.admin-title-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.admin-hover-icon-put:hover {
	color: blue;
}

.admin-hover-icon-delete:hover {
	color: var(--color-error);
}

