.dropdown-container {
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: rgba(12, 12, 12, 0.95);
	z-index: 100;
	border-radius: 5px;
}

.dropdown-item {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	padding: 5px 10px;
	transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
	text-shadow: 0 0 5px var(--color-parchment);
}

.dropdown-item:hover svg {
	filter: drop-shadow(0 0 5px var(--color-parchment));
  }
