.progress-bar-container {
	position: relative;
	width: 95%;
	height: 16px;
	background-color: transparent;
	border-radius: 16px;
	overflow: hidden;
	user-select: none;
}

.progress-bar-container-small {
	height: 12px;
	border-radius: 0px;
}

.progress-bar-border {
	background-color: transparent;
	border-radius: 16px;
	width: 100%;
	height: 100%;
}

.progress-bar-border-small {
	border-radius: 0px;
}

.progress-bar-filling {
	height: 100%;
	transition: width 0.3s ease;
}

.progress-bar-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	font-weight: bold;
	font-size: 11px;
	font-family: var(--number-font);
}

.progress-bar-text-small {
	font-size: 10px;
}
